@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background: rgb(223, 221, 221) !important;
  padding-top: 20px;
  padding-bottom: 15px;
  position: relative;
  left: 0;
  bottom: 0;
  margin-top: 500px;
}
